<div
    id="channel-container"
    class="hidden bg-white rounded-md shadow-lg p-4 mt-4"
>
    <div id="progress-videos">
        <h2 class="text-lg font-semibold mb-2">
            Downloading channel videos...
        </h2>
        <div class="relative pt-1">
            <div
                class="
                    overflow-hidden
                    h-2
                    mb-4
                    text-xs
                    flex
                    rounded
                    bg-gray-200
                "
            >
                <div
                    id="progress-bar"
                    class="bg-green-500"
                    style="width: 0%"
                ></div>
            </div>
            <p class="text-gray-500 text-xs mt-2" id="progress-text">0 / 0</p>
        </div>
    </div>
    <div id="compress-container" class="hidden">
        <h2 class="text-lg font-semibold mb-2">
            Compressing channel videos...
        </h2>
        <div class="relative pt-1">
            <div
                class="
                    overflow-hidden
                    h-2
                    mb-4
                    text-xs
                    flex
                    rounded
                    bg-gray-200
                "
            >
                <div
                    id="compress-progress"
                    class="bg-green-500"
                    style="width: 0%"
                ></div>
            </div>
            <p id="compress-text"></p>
        </div>
    </div>
</div>

<script>
    const downloadContainer = document.getElementById('channel-container');
    const progressBar = document.getElementById('progress-bar');
    const progressText = document.getElementById('progress-text');
    const compressProgress = document.getElementById('compress-progress');
    const compressContainer = document.getElementById('compress-container');
    const compressText = document.getElementById('compress-text');

    socket.on('downloadedVideos', (data) => {
        progressBar.style.width = `${
            (data.progressVideos / data.totalVideos) * 100
        }%`;
        progressText.innerText = `${data.progressVideos} / ${data.totalVideos}`;
        downloadContainer.classList.remove('hidden');
    });

    socket.on('downloadChannelProgress', (data) => {
        compressContainer.classList.remove('hidden');
        compressProgress.style.width = `${data}%`;
        compressText.innerText = `${data}%`;
    });

    socket.on('downloadChannelFinished', () => {
        progressBar.style.width = '0%';
        compressProgress.style.width = '0%';
        compressText.innerText = '';
        downloadContainer.classList.add('hidden');
    });
</script>
