<div
    id="download-container"
    class="hidden mx-auto mt-4 lg:w-2/3 w-full bg-gray-200 rounded-md p-4"
>
    <p id="download-progress" class="text-center text-lg font-bold"></p>
</div>

<script>
    const downloadContainer = document.getElementById('download-container');
    const progress = document.getElementById('download-progress');

    socket.on('downloadProgress', (data) => {
        downloadContainer.classList.remove('hidden');
        progress.innerHTML = data;
    });

    socket.on('downloadFinished', () => {
        downloadContainer.classList.add('hidden');
        progress.innerHTML = '';
    });
</script>
