<div id="merge-container" class="hidden w-full mx-auto mt-4 lg:w-2/3">
    <h2 class="text-lg font-medium text-gray-700 mb-2">
        Merging audio + video
    </h2>
    <table class="table-auto">
        <thead>
            <tr>
                <th class="px-4 py-2 text-left">Frames</th>
                <th class="px-4 py-2 text-left">FPS</th>
                <th class="px-4 py-2 text-left">Kbps</th>
                <th class="px-4 py-2 text-left">Size</th>
                <th class="px-4 py-2 text-left">Time</th>
            </tr>
        </thead>
        <tbody id="progress-table"></tbody>
    </table>
</div>

<script>
    const mergeContainer = document.getElementById('merge-container');
    const progressTable = document.getElementById('progress-table');

    socket.on('mergeProgress', (data) => {
        const progressData = {
            frames: data.frames,
            fps: data.currentFps,
            kbps: data.currentKbps,
            size: data.targetSize,
            time: data.timemark
        };

        const tableRow = document.createElement('tr');
        Object.values(progressData).forEach((value) => {
            const tableData = document.createElement('td');
            tableData.textContent = value;
            tableRow.appendChild(tableData);
        });

        progressTable.innerHTML = '';
        progressTable.appendChild(tableRow);

        mergeContainer.style.display = 'block';
    });

    socket.on('mergeProgress', () => {
        mergeContainer.style.display = 'none';
    });

    socket.on('mergeFinished', () => {
        mergeContainer.style.display = 'none';
    });
</script>
