<!DOCTYPE html>
<html lang="en">
    <%- include('components/commons/head') %>
    <body class="bg-gray-100">
        <%- include('components/commons/header') %>
        <main class="max-w-screen-xl mx-auto px-4 py-8 md:px-8">
            <!-- Formulario de descarga -->
            <%- include('components/forms/dl-video') %>
            <!-- Barra de progreso de descarga -->
            <%- include('components/progress/download') %>
        </main>
    </body>
</html>
