<form id="dlvideo-form" class="w-full md:w-8/12 lg:w-6/12 mx-auto">
    <h2 class="text-center text-lg font-bold mb-4">URL:</h2>
    <div
        class="
            flex
            items-center
            border border-solid border-gray-500
            rounded-lg
            overflow-hidden
        "
    >
        <input
            type="text"
            class="w-full border-none focus:outline-none px-4 py-3"
            placeholder="Insert video URL"
            name="videoUrl"
            required
        />
        <button
            type="submit"
            class="
                bg-blue-500
                hover:bg-blue-600
                text-white
                px-4
                py-3
                disabled:opacity-50 disabled:cursor-not-allowed
            "
        >
            Send
        </button>
    </div>
</form>
<div id="download-link" class="flex justify-center items-center mt-8"></div>

<script>
    const form = document.getElementById('dlvideo-form');
    const sendButton = form.querySelector('button[type="submit"]');

    form.addEventListener('submit', async (ev) => {
        try {
            ev.preventDefault();

            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());

            // Deshabilitar el botón de envío y cambiar su estilo a gris
            sendButton.disabled = true;
            sendButton.classList.add('bg-gray-500', 'cursor-not-allowed');

            // Realizar la petición al backend
            const response = await fetch('/download/video', {
                method: 'POST',
                body: JSON.stringify({
                    clientId: socket.id,
                    videoUrl: data.videoUrl
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            // Obtener el ID del video del cuerpo de la respuesta
            const videoId = await response.text();

            console.log('VIDEOID', videoId);

            if (!videoId) {
                console.log('NO VIDEO ID');
            } else {
                const link = document.createElement('a');
                link.href = `/download/video/${videoId}`;
                link.target = '_blank';
                link.textContent = 'Download';
                link.classList.add(
                    'bg-blue-500',
                    'hover:bg-blue-700',
                    'text-white',
                    'font-bold',
                    'py-2',
                    'px-4',
                    'rounded'
                );
                document.getElementById('download-link').appendChild(link);

                form.reset(); // Resetear el formulario
                sendButton.classList.remove(
                    'bg-gray-500',
                    'cursor-not-allowed'
                );
                sendButton.disabled = false; // Habilitar el botón de envío

                // // Eliminar el enlace de descarga después de 10 segundos
                setTimeout(() => {
                    document.getElementById('download-link').removeChild(link);
                }, 10000);

                link.addEventListener('click', () => {
                    // Ocultar el enlace de descarga
                    link.style.display = 'none';
                });
            }
        } catch (error) {
            console.log(error);
        }
    });
</script>
