<!DOCTYPE html>
<html lang="en">
    <%- include('../components/commons/head') %>
    <body>
        <%- include('../components/commons/header') %>
        <main class="max-w-screen-xl mx-auto px-4 py-8 md:px-8">
            <!-- channel form -->
            <%- include('../components/forms/dl-channel') %>
            <!-- progress -->
            <%- include('../components/progress/channel') %>
        </main>
    </body>
</html>
